S3method(fcstGarch11,DCCfit)
S3method(getAlphas,capm_mlm)
S3method(getAlphas,capm_uv)
S3method(getBetas,capm_mlm)
S3method(getBetas,capm_uv)
S3method(getCor,EWMACor)
S3method(getCov,EWMACovar)
S3method(getCov,EWMAVar)
S3method(getStatistics,capm_mlm)
S3method(getStatistics,capm_uv)
S3method(hypTest,capm_mlm)
S3method(hypTest,capm_uv)
export(CAPM)
export(EWMA)
export(chartSML)
export(fcstGarch11)
export(garch11)
export(getAlphas)
export(getBetas)
export(getCor)
export(getCov)
export(getStatistics)
export(hypTest)
export(plot.EWMACor)
export(plot.EWMACovar)
export(plot.EWMAVar)
export(plot.capm_mlm)
export(plot.capm_uv)
