export(CAPM)
export(getAlphas)
export(getBetas)
export(getStatistics)
export(plot.capm_uv)
S3method(getAlphas,capm_mv)
S3method(getAlphas,capm_uv)
S3method(getBetas,capm_mv)
S3method(getBetas,capm_uv)
S3method(getStatistics,capm_mv)
S3method(getStatistics,capm_uv)
