export(backTestVaR)
export(CAPM)
export(chartSML)
export(countViolations)
export(efficientFrontier)
export(efficientFrontierTwoAsset)
export(endingPrices)
export(estimateLambdaCor)
export(estimateLambdaCov)
export(estimateLambdaVol)
export(EWMA)
export(fcstGarch11)
export(forecast)
export(garch11)
export(getAlphas)
export(getBetas)
export(getCor)
export(getCov)
export(getFit)
export(getSpec)
export(getStatistics)
export(getVar)
export(hypTest)
export(minVarPortfolio)
export(monteCarlo)
export(plot.capm_mlm)
export(plot.capm_uv)
export(plotEndingPrices)
export(portReturnTwoAsset)
export(portSDTwoAsset)
export(realizedCor)
export(realizedCov)
export(realizedVol)
export(tangentPortfolio)
export(uvEWMAcor)
export(uvEWMAcov)
export(uvEWMAvol)
export(uvGARCH)
S3method(countViolations,xts)
S3method(fcstGarch11,DCCfit)
S3method(getAlphas,capm_mlm)
S3method(getAlphas,capm_uv)
S3method(getBetas,capm_mlm)
S3method(getBetas,capm_uv)
S3method(getCor,mvEWMAcor)
S3method(getCov,mvEWMAcov)
S3method(getFit,uvGARCH)
S3method(getSpec,uvGARCH)
S3method(getStatistics,capm_mlm)
S3method(getStatistics,capm_uv)
S3method(hypTest,capm_mlm)
S3method(hypTest,capm_uv)
S3method(plot,efficient.frontier)
S3method(plot,efTwoAsset)
S3method(plot,EWMA)
S3method(plot,MonteCarlo)
S3method(print,EWMA)
